section.section.detail-news-page 
	.container 
		.wrapper-container
			.section-title.color-main Khởi công nhà máy giấy Tân Mai -Miền Đông
			.bottom-wrapper.d-flex.align-center.justify-between
				time 22.10.2020
				ul.social.d-flex
					li
						a(href="")
							em.fab.fa-facebook
							span Share
					li
						a(href="")
							em.fab.fa-twitter
							span Tweet
			.fullcontent 
				p
					| Sáng ngày 21/3/2010, tại xã Long Phước, huyện Long Thành, tỉnh Đồng Nai, Công ty CP Tập đoàn Tân Mai khởi công xây dựng Nhà máy giấy Tân Mai Miền Đông. Nhà máy giấy Tân Mai Miền Đông được xây dựng trên diện tích gần 54,6 ha. Việc xây dựng Nhà máy giấy được chia làm hai giai đoạn. Giai đoạn 1 (từ nay đến cuối 2012): xây mới dây chuyền, chủ yếu sản xuất giấy in báo, công suất 150.000 tấn/năm với thiết bị nhập đồng bộ từ Canada. Giai đoạn 2 (từ cuối năm 2012 đến 2014): di dời, nâng cấp, hiện đại hóa các dây chuyền sản xuất và một số hệ thống phụ trợ từ Nhà máy giấy Tân Mai hiện hữu ra Nhà máy giấy Tân Mai Miền Đông. Tổng số vốn đầu tư cho giai đoạn 1 là gần 2.500 tỷ đồng trong đó 15% là vốn đối ứng của cổ đông và 85% là vốn vay các ngân hàng trong nước.
				table
					tbody
						tr
							td
								img.lazyload(data-src="./img/news-even/de-1.png", alt="")
							td
								img.lazyload(data-src="./img/news-even/de-2.png", alt="")
				p
					| Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.
				p
					| Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
				table
					tbody
						tr
							td
								img.lazyload(data-src="./img/news-even/de-3.png", alt="")

							td
								img.lazyload(data-src="./img/news-even/de-4.png", alt="")
				p
					| Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.
				p
					| Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
section.section.news-other(setBackground='./img/bg/newdetail.png')
	.container 
		.title.color-main.fw-600.f-30 Tin tức khác
		.slide-other-news 
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.swiper-inner.d-flex
								.img
									a(href="")
										img.lazyload(data-src="./img/news-even/i-"+i+".png", alt="")
								.content 
									time.f-14 03.12.2020
									.title 
										a.lcl.lcl-2.fw-700(href="chi-tiet-tin-tuc.html") Tân Mai Group đang sở hữu và quản lý 30.846,22 ha đất rừng ở Đăk Nông, Lâm Đồng Đồng Nai Tân Mai Group đang sở hữu và quản lý 30.846,22 ha đất rừng ở Đăk Nông, Lâm Đồng Đồng Nai
			.swiper-button-next
			.swiper-button-prev
