section#section-1.section.home-about(setBackground='./img/bg/bg-1.png')
	.container
		.row
			.col-lg-5.col-md-5.col-sm-6
				.wrapper-content
					.section-title.color-main giới thiệu
						.section-title-sub tập đoàn tân mai
					.content.f-16.color-text
						p Tập Đoàn Tân Mai là nhà sản xuất giấy in báo duy nhất tại Việt Nam đặc biệt trở thành một trong hai đơn vị sản xuất giấy lớn nhất cả nước. Với kinh nghiệm, năng lực sẵn có, khả năng sáng tạo và sự tận tâm của Cán bộ - Công nhân viên Công ty cổ phần Tập Đoàn Tân Mai quyết tâm phấn đấu mở rộng thị trường và tăng khả năng cạnh tranh sản phẩm.
					a.btn.btn-view-more(href="") tìm hiểu thêm
			.col-lg-7.col-md-7.col-sm-6
				.img
					img.lazyload(data-src="./img/home/about-1.png" alt="")