section.section.home-develop(setBackground='./img/bg/bg-3.png')
	.container
		.row
			.col-lg-6
				.wrapper-content
					.section-title.color-main phát triển bền vững
					.desc.f-16 Chúng tôi tin rằng sự phát triển của Doanh nghiệp phải đi đôi với mục tiêu bảo vệ môi trường và phát triển con người, xã hội.  Trên chặng đường phát triển của mình, chúng tôi mong muốn góp phần nâng cao chất lượng cuộc sống cho cộng đồng
					a.btn.btn-view-more(href="") tìm hiểu thêm
