<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <newstype name="Tin tức" value="0"></newstype>
    <!--<showoption name="Icon new" value="1"></showoption>-->
    <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
    <templatelist xsltname="TinNguoiTanMai.xslt" name="Danh sách tin người tân mai"></templatelist>
    <templatelist xsltname="Hinh.xslt" name="Danh sách hình người tân mai"></templatelist>
    <templatelist xsltname="Video.xslt" name="Danh sách video người tân mai"></templatelist>
    <templatelist xsltname="QuanTriDoanhNghiep.xslt" name="Danh sách quản trị doanh nghiệp"></templatelist>
    <templatelist xsltname="CoDongCT.xslt" name="Danh sách báo cáo tài chính"></templatelist>
    <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
    <templatedetail xsltname="TuyenDungDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
    <position>
        <add name="Người tân mai" value="1" resourcefile="" />
        <add name="Trang chủ giới thiệu" value="2" resourcefile="" />
        <add name="Trang chủ cổ đông" value="4" resourcefile="" />
        <add name="Home tin tức" value="8" resourcefile="" />
    </position>
</templates>
