section.section.report-page 
	.container 
		ul.navbar
			li.active.fw-500
				a.f-14.color-main(href='') Công bố thông tin
			li.fw-500.dropdown
				a.f-14.color-main(href='') Báo cáo tài chính & quản trị
				ul.dropdown-menu 
					li 
						a(href="") Báo cáo tài chính 
					li 
						a(href="") Báo cáo thường niên
					li
						a(href="") Quanr trị doanh nghiệp
			li.fw-500
				a.f-14.color-main(href='') Liên hệ
		.section-title.color-main báo cáo tài chính
		.silde-wrapper.tab-panel
			.swiper-container.tabs
				.swiper-wrapper
					.swiper-slide
						.swiper-inner.active(data-href="panel-1")
							.desc 2013
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-2")
							.desc 2014
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-3")
							.desc 2015
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-4")
							.desc 2016
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-5")
							.desc 2017
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-6")
							.desc 2018
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-7")
							.desc 2019
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-8")
							.desc 2020
							.dot 
			.swiper-button-next
			.swiper-button-prev
			#panel-1.panel.active
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-2.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-3.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-4.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-5.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-6.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-7.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-8.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
