section.section.report-page 
	.container 
		ul.navbar.d-flex
			li.active.fw-500
				a.f-14.color-main(href='') Công bố thông tin
			li.fw-500.dropdown
				.caption
					a.f-14.color-main(href='') Báo cáo tài chính & quản trị
					em.material-icons expand_more
				ul.dropdown-menu 
					li
						a(href="") Báo cáo tài chính 
					li 
						a(href="") Báo cáo thường niên
					li
						a(href="quan-tri-doanh-nghiep.html") Quản trị doanh nghiệp
			li.fw-500
				a.f-14.color-main(href='') Liên hệ
		.section-title.color-main báo cáo tài chính
		.silde-wrapper.tab-panel
			.swiper-container.tabs
				.swiper-wrapper
					.swiper-slide
						.swiper-inner(data-href="panel-1")
							.desc.f-24.fw-700.color-gray-2 2013
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-2")
							.desc.f-24.fw-700.color-gray-2 2014
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-3")
							.desc.f-24.fw-700.color-gray-2 2015
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-4")
							.desc.f-24.fw-700.color-gray-2 2016
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-5")
							.desc.f-24.fw-700.color-gray-2 2017
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-6")
							.desc.f-24.fw-700.color-gray-2 2018
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-7")
							.desc.f-24.fw-700.color-gray-2 2019
							.dot 
					.swiper-slide
						.swiper-inner(data-href="panel-8")
							.desc.f-24.fw-700.color-gray-2 2020
							.dot 
				.swiper-button-next
				.swiper-button-prev
			#panel-1.panel
				.wrapper-column
					.swiper-container.column
						.swiper-wrapper
							-for(i=1; i<18; i++)
								.swiper-slide
									.swiper-inner
										.item.d-flex
											.img 
												a(href="") 
													img(src="./img/icon/pdf.png" alt="")
											.content 
												time.f-12 30.09.2018
												.title.f-14
													a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
												a(href="")
													em.material-icons download
													|Tải về
					.swiper-pagination
			#panel-2.panel
				.wrapper-column
					.swiper-container.column
						.swiper-wrapper
							-for(i=1; i<18; i++)
								.swiper-slide
									.swiper-inner
										.item.d-flex
											.img 
												a(href="") 
													img(src="./img/icon/pdf.png" alt="")
											.content 
												time.f-12 30.09.2018
												.title.f-14
													a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
												a(href="")
													em.material-icons download
													|Tải về
					.swiper-pagination
			//- #panel-2.panel
			//- 	.row
			//- 		-for(i=1; i<10; i++)
			//- 			.col-lg-4.col-md-6.col-sm-6
			//- 				.item.d-flex
			//- 					.img 
			//- 						a(href="") 
			//- 							img(src="./img/icon/pdf.png" alt="")
			//- 					.content 
			//- 						time.f-12 30.09.2018
			//- 						.title.f-14
			//- 							a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
			//- 						a(href="")
			//- 							em.material-icons download
			//- 							|Tải về
			#panel-3.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-4.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-5.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-6.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-7.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
			#panel-8.panel
				.row
					-for(i=1; i<10; i++)
						.col-lg-4.col-md-6.col-sm-6
							.item.d-flex
								.img 
									a(href="") 
										img(src="./img/icon/pdf.png" alt="")
								.content 
									time.f-12 30.09.2018
									.title.f-14
										a(href="") Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến ngày 30/09/2018
									a(href="")
										em.material-icons download
										|Tải về
