section.section.report-page 
	.container 
		ul.navbar
			li.active.fw-500
				a.f-14.color-main(href='') Công bố thông tin
			li.fw-500.dropdown
				a.f-14.color-main(href='') Báo cáo tài chính & quản trị
				ul.dropdown-menu 
					li 
						a(href="") Báo cáo tài chính 
					li 
						a(href="") Báo cáo thường niên
					li
						a(href="") Quanr trị doanh nghiệp
			li.fw-500
				a.f-14.color-main(href='') Liên hệ