section.section.shareholder
	.container 
		.section-title.color-main quan hệ cổ đông
		.wrapper-content
			.row 
				.col-lg-8 
					.col-left
						.title.f-24.fw-700.text-uppercase.color-main công bố thông tin 
						.content.d-flex
							.img
								a(href="") 
									img.lazyload(data-src="./img/quan-he-co-dong/i-1.png" alt="")
							.list
								ul 
									li 
										.icon
											img(src="./img/icon/pdf.png" alt="")
										.text
											a(href="") Chương trình đại hội đồng cổ đông thường niên năm 2020
									li 
										.icon
											img(src="./img/icon/pdf.png" alt="")
										.text
											a(href="") Chương trình đại hội đồng cổ đông thường niên năm 2020
								.detail
									a(href="") xem chi tiết 
									em.material-icons arrow_forward
				.col-lg-4 
					.col-right
						.title.f-24.fw-700.text-uppercase.color-main lịch sự kiện
						.list-item 
							-for(i=1; i<4; i++)
								.item 
									.date 
										.big-text 25
											span 01.2021
									.content.text-capitalize.fw-500 công bố báo cáo tài chính q4/2020
		.wrapper-content
			.row 
				.col-lg-8 
					.col-left 
						.title.f-24.fw-700.text-uppercase.color-main báo cáo tài chính & quản trị
						.content.d-flex
							.img 
								a(href="") 
									img.lazyload(data-src="./img/quan-he-co-dong/i-2.png" alt="")
							.list
								ul 
									li 
										.icon
											img(src="./img/icon/pdf.png" alt="")
										.text
											a(href="") Chương trình đại hội đồng cổ đông thường niên năm 2020
									li 
										.icon
											img(src="./img/icon/pdf.png" alt="")
										.text
											a(href="") Chương trình đại hội đồng cổ đông thường niên năm 2020
								.detail
									a(href="") xem chi tiết 
									em.material-icons arrow_forward
				.col-lg-4 
					.col-right
						.title.f-24.fw-700.text-uppercase.color-main liên hệ
						.list-item.contact
							ul 
								li 
									em.material-icons room
									p 
										strong Địa chỉ: 
										| Đường số 11, Khu Công Nghiệp Biên Hòa I, Phường An Bình, TP Biên Hòa, Tỉnh Đồng Nai, Việt Nam
								li 
									em.material-icons call
									p 
										strong Điện thoại: 
										| 061.3836201
								li 
									em.material-icons print
									p 
										strong Fax: 
										| 061.3836231
								li 
									em.material-icons mail
									p 
										strong Email: 
										| contact@tanmaigroup.com
							.detail
								a(href="") xem chi tiết 
								em.material-icons arrow_forward
