section.section.report-page
	.container 
		ul.navbar.d-flex
			li.active.fw-500
				a.f-14.color-main(href='') Công bố thông tin
			li.fw-500.dropdown
				.caption
					a.f-14.color-main(href='') Báo cáo tài chính & quản trị
					em.material-icons expand_more
				ul.dropdown-menu 
					li.active
						a(href="") Báo cáo tài chính 
					li 
						a(href="") Báo cáo thường niên
					li
						a(href="quan-tri-doanh-nghiep.html") Quản trị doanh nghiệp
			li.fw-500
				a.f-14.color-main(href='thong-tin-lien-he.html') Liên hệ
		.section-title.color-main liên hệ
		.wrapper-contact
			.row 
				.col-lg-6 
					.form-contact 
						.title.f-24.fw-700.text-uppercase thông tin yêu cầu
						.wrap-form
							.form-group
									input(type="text" placeholder="Họ và tên")
							.form-group
									input(type="text" placeholder="Email")
							.form-group
									input(type="text" placeholder="Số điện thoại")
							.form-group
									input(type="text" placeholder="Tiêu đề")
							.form-group
								textarea(name="" cols="30" rows="10" placeholder="Nội dung")
							.form-group.frm-btnwrap
								.frm-btn
									input(type="submit" value="Gửi câu hỏi")
				.col-lg-6
					.contact-infor(setBackground='./img/bg/thongtinlienhe.png') 
						.title.f-24.fw-700.text-uppercase.color-white Công ty cổ phần tập đoàn tân mai
						ul 
							li 
								em.material-icons room
								p 
									strong Địa chỉ 
									| Đường số 11, Khu Công Nghiệp Biên Hòa, Phường An Bình, TP Biên Hòa, Tỉnh Đồng Nai, Việt Nam
							li 
								em.material-icons call
								p 
									strong Điện thoại 
									| 061.3836201
							li 
								em.material-icons print
								p 
									strong Fax 
									| 061.3836231
							li 
								em.material-icons mail
								p 
									strong Email 
									| contact@tanmaigroup.com
