section.section.list-page
	.container
		.section-title.color-main người tân mai
		.category-specail
			.row
				.col-lg-6
					.col-item-big.zoom-img
						.big-img
							a(href="")
								img.lazyload(data-src="./img/nguoi-tan-mai/i-1.png" alt="")
						.content
							a.lcl.lcl-2.fw-700.color-white(href="") Tân Mai Group đang sở hữu và quản lý 30.846,22 ha đất rừng ở Đăk Nông, Lâm Đồng Đồng Nai...
				.col-lg-6
					.row
						.col-lg-6.col-md-6.col-sm-6
							.col-item.zoom-img
								.small-img
									a(href="")
										img.lazyload(data-src="./img/nguoi-tan-mai/i-2.png" alt="")
								.content
									.icon(href="")
										img(src="./img/icon/photo.png" alt="")
									a.lcl.lc-4.fw-700(href="") Sự thay đổi từ ngã 3 máy cưa đến nhà máy giấy Tân Mai ở Biên Hòa, Đồng Nai
						.col-lg-6.col-md-6.col-sm-6
							.col-item.zoom-img
								.small-img
									a(href="")
										img.lazyload(data-src="./img/nguoi-tan-mai/i-3.png" alt="")
								.content
									.icon(href="")
										img(src="./img/icon/video.png" alt="")
									a.lcl.lc-4.fw-700(href="") Sự thay đổi từ ngã 3 máy cưa đến nhà máy giấy Tân Mai ở Biên Hòa, Đồng Nai
		.category-section
			.wrapper-header.d-flex.align-center.justify-between
				.title.text-uppercase.color-white.fw-700 tin tân mai
				.wrapper-buttom.d-flex.align-center.color-main
					a(href="tin.html") Xem tất cả
					em.material-icons navigate_next
			.row
				-for(i=4; i<8; i++)
					.col-lg-3.col-md-6.col-sm-6
						.col-item.zoom-img
							.img
								a(href="")
									img.lazyload(data-src="./img/nguoi-tan-mai/i-"+i+".png" alt="")
							.content
								.title
									a.lcl.lcl-2.fw-700(href="") Hệ thống máy móc sản xuất giấy của nhà máy giấy Tân Mai
		.category-section
			.wrapper-header.d-flex.align-center.justify-between
				.title.text-uppercase.color-white.fw-700 hình ảnh
				.wrapper-buttom.d-flex.align-center.color-main
					a(href="hinh-anh.html") Xem tất cả
					em.material-icons navigate_next
			.row
				-for(i=8; i<12; i++)
					.col-lg-3.col-md-6.col-sm-6
						.col-item.zoom-img
							.img
								a(href="")
									img.lazyload(data-src="./img/nguoi-tan-mai/i-"+i+".png" alt="")
								.icon
									img(src="./img/icon/photo.png" alt="")
							.content
								.title
									a.lcl.lcl-2.fw-700(href="") Chi bộ nhà máy giấyTân Mai - Chi bộ 45 năm giữ rừng
		.category-section
			.wrapper-header.d-flex.align-center.justify-between
				.title.text-uppercase.color-white.fw-700 video
				.wrapper-buttom.d-flex.align-center.color-main
					a(href="video.html") Xem tất cả
					em.material-icons navigate_next
			.row
				-for(i=12; i<16; i++)
					.col-lg-3.col-md-6.col-sm-6
						.col-item.zoom-img
							.img
								a(href="")
									img.lazyload(data-src="./img/nguoi-tan-mai/i-"+i+".png" alt="")
								.icon
									img(src="./img/icon/video.png" alt="")
							.content
								.title
									a.lcl.lcl-2.fw-700(href="") Chi bộ nhà máy giấyTân Mai - Chi bộ 45 năm giữ rừng

