#popup-event.popup-event
	.wrapper-content
		.title.f-30.fw-600.color-main.text-uppercase thông tin sự kiện
		.item 
			.date 
				.big-text 25
					span 01.2021
			.text.text-capitalize.fw-500.f-18.color-main Công Bố Báo Cáo Tài Chính Q4/2020
		.content 
			p Nội dung 
			.desc Thông báo kết quả kinh doanh quý 4 2020 và kế hoạch cho năm 2021 Thông báo kết quả kinh doanh quý 4 2020 và kế hoạch cho năm 2021 Thông báo kết quả kinh doanh quý 4 2020 và kế hoạch cho năm 2021 Thông báo kết quả kinh doanh quý 4 2020 và kế hoạch cho năm 2021.
