.field-list
	.desc
		padding-right: 50px
		margin-bottom: 30px
	.wrapper-list
		flex-direction: row
		@media screen and ( max-width: 767.98px )
			flex-wrap: wrap
			justify-content: center
		.col-item
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			padding: 0 15px
			flex: 0 1 20%
			.img
				margin-bottom: 25px
			.content
				padding: 0 5px
				white-space: nowrap
	@media screen and ( max-width: 1199.98px )
		.desc
			padding: 0
		.wrapper-list
			.col-item
	@media screen and ( max-width: 767.98px )
		.wrapper-list
			.col-item
				flex: 0 1 50%
				margin-bottom: 30px
				&:last-child
					margin-bottom: 0
.field-forestry
	padding: 70px 0
	.content
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		.desc
			max-height: 290px
			overflow-y: auto
			padding-right: 40px
			line-height: 26px
			p
				padding-bottom: 17px
			ul
				padding-bottom: 17px
				list-style: inside
			&::-webkit-scrollbar
				width: 3px
			&::-webkit-scrollbar-track
				background: #e1e1e1
				width: 1px
			&::-webkit-scrollbar-thumb
				background: $main
	.img
		+img-ratio(480/704)
	@media screen and ( max-width: 991.98px )
		.content
			.desc
				padding-right: 30px
		.img
			height: 100%
	@media screen and ( max-width: 991.98px )
		padding: 30px 0
		.img
			height: auto
			margin-bottom: 30px
		.content
			.desc
				padding-right: 20px
		.col-lg-5
			order: 2
	&:nth-child(2)
		@media screen and ( max-width: 991.98px )
			.col-lg-5
				order: 1
.field-agriculture
	padding: 80/16*1rem 0
	background-repeat: no-repeat
	.desc
		max-width: 1080px
		margin: 0 auto
		margin-bottom: 40px
		line-height: 26px
		max-height: 156px
		overflow-y: auto
		&::-webkit-scrollbar
			width: 3px
		&::-webkit-scrollbar-track
			background: #e1e1e1
			width: 1px
		&::-webkit-scrollbar-thumb
			background: $main

	.img
		max-width: 1020px
		margin: 0 auto
		+img-ratio(500/1230)
	@media screen and ( max-width: 767.98px )
		padding: 30/16*1rem 0
	@media screen and ( max-width: 575.98px )
		.desc
			max-height: 200px
			overflow-y: auto
			padding-right: 15px
			text-align: left
			&::-webkit-scrollbar
				width: 3px
			&::-webkit-scrollbar-track
				background: #e1e1e1
				width: 1px
			&::-webkit-scrollbar-thumb
				background: $main
.field-energy
	padding: 60px 0
	background-color: #f8f8f8
	.content
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		padding-right: 45px
		.desc
			overflow-y: auto
			max-height: 285px
			padding-right: 10px
			&::-webkit-scrollbar
				width: 3px
			&::-webkit-scrollbar-track
				background: #e1e1e1
				width: 1px
			&::-webkit-scrollbar-thumb
				background: $main
			p
				padding-bottom: 17px
	.img
		+img-ratio(480/704)
	@media screen and ( max-width: 991.98px )
		.content
			padding: 0
	@media screen and ( max-width: 767.98px )
		padding: 30px 0
		.img
			margin-bottom: 30px
		.col-lg-5
			order: 2
.field-real
	padding: 80px 0
	.wrapper-content
		max-width: 560px
		padding-left: 40px
		padding-top: 38px
		padding-right: 30px
		padding-bottom: 62px
		margin-left: auto
		background: rgba($color: $white, $alpha: .9)
		.section-title
			padding-right: 100px
		.desc
			max-height: 230px
			overflow-y: auto
			line-height: 26px
			padding-right: 39px
			p
				padding-bottom: 17px
			&::-webkit-scrollbar
				width: 3px
			&::-webkit-scrollbar-track
				background: #e1e1e1
				width: 1px
			&::-webkit-scrollbar-thumb
				background: $main
	@media screen and ( max-width: 575.98px )
		padding: 30px 0
		.wrapper-content
			padding: 20px
			.section-title
				padding-right: 0
			.desc
				padding-right: 30px
