section.section.develop-section-1
	.container
		.section-title.color-main phát triển bền vững
		.row
			.col-lg-6
				.wrapper-content 
					.content
						.title.f-30.fw-600.color-main Tân Mai hướng đến phát triển bền vững 
						.desc 
							p Chúng tôi tin rằng sự phát triển của Doanh nghiệp phải đi đôi với mục tiêu bảo vệ môi trường và phát triển con người, xã hội.  Trên chặng đường phát triển của mình, chúng tôi mong muốn góp phần nâng cao chất lượng cuộc sống cho cộng đồng.

							p Chúng tôi tin rằng sự phát triển của Doanh nghiệp phải đi đôi với mục tiêu bảo vệ môi trường và phát triển con người, xã hội.  Trên chặng đường phát triển của mình, chúng tôi mong muốn góp phần nâng cao chất lượng cuộc sống cho cộng đồng.

							p Chúng tôi tin rằng sự phát triển của Doanh nghiệp phải đi đôi với mục tiêu bảo vệ môi trường và phát triển con người, xã hội.  Trên chặng đường phát triển của mình, chúng tôi mong muốn góp phần nâng cao chất lượng cuộc sống cho cộng đồng.
			.col-lg-6 
				.wrapper-content.d-flex
					-for(i="1";i<"5";i++)
						.item.zoom-img
							.img
								img.lazyload(src="./img/phat-trien-ben-vung/i-"+i+".png" alt="")

section.section.develop-section-2(setBackground="./img/bg/phat-trien.png")
	.container 
		.container--tabs
			#tool-item
			ul.nav.nav-tabs
				li.active.fw-500
					a.f-14.color-main(href='#tab-1') Bảo vệ tài nguên rừng
				li.fw-500
					a.f-14.color-main(href='#tab-2') Tiết kiệm nguồn năng lượng
				li.fw-500
					a.f-14.color-main(href='#tab-3') Phát triển kinh tế địa phương
				li.fw-500
					a.f-14.color-main(href='#tab-4') Người lao động
				li.fw-500
					a.f-14.color-main(href='#tab-5') Hỗ trợ & phát triển cộng đồng
			.tab-content
				#tab-1.wrap-content.tab-pane.active
					.row 
						.col-lg-6 
							.content
								.title.fw-600.f-24.color-main Bảo vệ rừng là trách nhiệm của toàn dân, các cấp, các ngành, trong đó kiểm lâm là lực lượng nòng cốt.
								.desc 
									p Bảo vệ chặt chẽ đối với rừng tự nhiên, đặc biệt là rừng đặc dụng và rừng phòng hộ, mở rộng quyền chủ động trong sản xuất kinh doanh và nâng cao trách nhiệm tự bảo vệ đối với rừng sản xuất của chủ rừng. Các chủ rừng có diện tích rừng lớn phải có lực lượng bảo vệ rừng chuyên trách.

									p Bảo vệ rừng gắn với phát triển, sử dụng rừng bền vững, duy trì diện tích lâm phần rừng ổn định, chú trọng bảo vệ rừng tận gốc và kiểm soát lâm sản tại nơi chế biến, tiêu thụ, hạn chế kiểm soát trong lưu thông.
						.col-lg-6 
							.img 
								img.lazyload(data-src="./img/phat-trien-ben-vung/i-5.png" alt="")
					.full-content 
						p Mục tiêu tổng quát: Nâng cao năng lực quản lý bảo vệ rừng, bảo vệ ổn định lâm phận các loại rừng; phát huy vai trò, lợi thế của từng loại rừng, trên cơ sở bảo tồn, sử dụng, cung cấp các dịch vụ và phát triển rừng bền vững, góp phần phát triển kinh tế và xã hội, duy trì các giá trị đa dạng sinh học của rừng, góp phần tích cực bảo vệ môi trường và thích ứng, giảm thiểu biến đổi khí hậu.
							br
							br
							|Mục tiêu cụ thể:
						ul 
							li 
								p 8,5 triệu hécta rừng đặc dụng, rừng phòng hộ đầu nguồn được bảo vệ nghiêm ngặt, từng bước chấm dứt tình trạng khai thác trái phép, cháy rừng đối với hai loại rừng này.
							li
								p Giảm căn bản tình trạng vi phạm các quy định của Nhà nước về bảo vệ và phát triển rừng, hạn chế đến mức thấp nhất tình trạng phá rừng trái phép và thiệt hại do cháy rừng gây ra; bảo đảm kinh doanh bền vững đối với rừng sản xuất.
							li
								p Xóa bỏ căn bản các tụ điểm khai thác, kinh doanh buôn bán lâm sản trái phép; chấm dứt tình trạng chống người thi hành công vụ.



