section.section.home-shareholder
	.container
		.section-title.color-main quan hệ cổ đông
		.row
			.col-lg-7
				ul
					-for(i=1; i<4; i++)
						li
							.item-header.d-flex.align-center
								.title.f-12.color-white Báo cáo tài chính & Quản trị
								time 03.12.2020
							.item-body.d-flex
								.desc.lcl.lcl-2.f-14.fw-500.line-20 Báo Cáo Tài Chính Hợp Nhất Cty CP TĐ Tân Mai đến hết 31/12/2019
								a(href="")
									em.material-icons file_download
				a.btn.btn-view-more(href="") xem tất cả
			.col-lg-5
				.wrapper-list.d-flex
					.item
						.img
							a(href="")
								img(src="./img/icon/meeting.png" alt="")
						.content.text-center
							a.tite.text-uppercase.f-16.color-white.fw-600(href="") công bố thông tin
					.item
						.img
							a(href="")
								img(src="./img/icon/business-report.png" alt="")
						.content.text-center
							a.tite.text-uppercase.f-16.color-white.fw-600(href="") báo cáo tài chính & quản trị
					.item
						.img
							a(href="")
								img(src="./img/icon/contact.png" alt="")
						.content.text-center
							a.tite.text-uppercase.f-16.color-white.fw-600(href="") liên hệ
					.item
						.img
							a(href="")
								img(src="./img/icon/calendar.png" alt="")
						.content.text-center
							a.tite.text-uppercase.f-16.color-white.fw-600(href="") lịch sự kiện quan trọng


