<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
        <add name="Menu chính" value="1" resourcefile="" />
        <add name="Menu top" value="2" resourcefile="" />
        <add name="Menu footer-1" value="4" resourcefile="" />
        <add name="Menu footer-2" value="8" resourcefile="" />
        <add name="Home lĩnh vực hoạt động" value="16" resourcefile="" />
        <add name="Home dự án" value="32" resourcefile="" />
        <add name="Home phát triển bền vững" value="64" resourcefile="" />
        <add name="Home quan hệ cổ đông" value="128" resourcefile="" />
    </position>
</settings>
