section.section.project-detail
	.container
		.section-title.color-main nhà máy giấy tân mai - miền đông
		.slide-detail
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					-for(x=1; x<7; x++)
						.swiper-slide
							.img
								img.lazyload(data-src="./img/du-an/i-"+x+".png" alt="")
				.swiper-button-next
				.swiper-button-prev
				.swiper-pagination
			.swiper-container.gallery-top
				.swiper-wrapper
					-for(n=1; n<7; n++)
						.swiper-slide
							.img
								img.lazyload(data-src="./img/du-an/i-"+n+".png" alt="")

section.section.project-infor-detail
	.container
		.container--tabs
			ul.nav.nav-tabs
				li.active.fw-700.text-uppercase
					a(href='#tab-1') giới thiệu
				li.fw-700.text-uppercase
					a(href='#tab-2') tiến độ
				li.fw-700.text-uppercase
					a(href='#tab-3') vị trí
				li.fw-700.text-uppercase
					a(href='#tab-4') form liên hệ
			.tab-content
				#tab-1.wrap-content.tab-pane.active
					.title.fw-700.f-18.text-uppercase thông tin dự án
					table
						tr
							td Ngày khỏi công
							td 21/02/2010
						tr
							td Tổng vốn đầu tư
							td 2.500 tỷ dồng
						tr
							td Công xuất
							td 150.000 tấn/năm
					.content
						p Sáng ngày 21/3/2010, tại xã Long Phước, huyện Long Thành, tỉnh Đồng Nai, Công ty CP Tập đoàn Tân Mai khởi công xây dựng Nhà máy giấy Tân Mai Miền Đông. Nhà máy giấy Tân Mai Miền Đông được xây dựng trên diện tích gần 54,6 ha. Việc xây dựng Nhà máy giấy được chia làm hai giai đoạn. Giai đoạn 1 (từ nay đến cuối 2012): xây mới dây chuyền, chủ yếu sản xuất giấy in báo, công suất 150.000 tấn/năm với thiết bị nhập đồng bộ từ Canada. Giai đoạn 2 (từ cuối năm 2012 đến 2014): di dời, nâng cấp, hiện đại hóa các dây chuyền sản xuất và một số hệ thống phụ trợ từ Nhà máy giấy Tân Mai hiện hữu ra Nhà máy giấy Tân Mai Miền Đông. Tổng số vốn đầu tư cho giai đoạn 1 là gần 2.500 tỷ đồng trong đó 15% là vốn đối ứng của cổ đông và 85% là vốn vay các ngân hàng trong nước. 

						p Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.

						p Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
				#tab-2.wrap-content.tab-pane
					.title.fw-700.f-18.text-uppercase Tiến độ
					table
						tr
							td Ngày khỏi công
							td 21/02/2010
						tr
							td Tổng vốn đầu tư
							td 2.500 tỷ dồng
						tr
							td Công xuất
							td 150.000 tấn/năm
					.content
						p Sáng ngày 21/3/2010, tại xã Long Phước, huyện Long Thành, tỉnh Đồng Nai, Công ty CP Tập đoàn Tân Mai khởi công xây dựng Nhà máy giấy Tân Mai Miền Đông. Nhà máy giấy Tân Mai Miền Đông được xây dựng trên diện tích gần 54,6 ha. Việc xây dựng Nhà máy giấy được chia làm hai giai đoạn. Giai đoạn 1 (từ nay đến cuối 2012): xây mới dây chuyền, chủ yếu sản xuất giấy in báo, công suất 150.000 tấn/năm với thiết bị nhập đồng bộ từ Canada. Giai đoạn 2 (từ cuối năm 2012 đến 2014): di dời, nâng cấp, hiện đại hóa các dây chuyền sản xuất và một số hệ thống phụ trợ từ Nhà máy giấy Tân Mai hiện hữu ra Nhà máy giấy Tân Mai Miền Đông. Tổng số vốn đầu tư cho giai đoạn 1 là gần 2.500 tỷ đồng trong đó 15% là vốn đối ứng của cổ đông và 85% là vốn vay các ngân hàng trong nước. 

						p Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.

						p Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
				#tab-3.wrap-content.tab-pane
					.title.fw-700.f-18.text-uppercase vị trí
					table
						tr
							td Ngày khỏi công
							td 21/02/2010
						tr
							td Tổng vốn đầu tư
							td 2.500 tỷ dồng
						tr
							td Công xuất
							td 150.000 tấn/năm
					.content
						p Sáng ngày 21/3/2010, tại xã Long Phước, huyện Long Thành, tỉnh Đồng Nai, Công ty CP Tập đoàn Tân Mai khởi công xây dựng Nhà máy giấy Tân Mai Miền Đông. Nhà máy giấy Tân Mai Miền Đông được xây dựng trên diện tích gần 54,6 ha. Việc xây dựng Nhà máy giấy được chia làm hai giai đoạn. Giai đoạn 1 (từ nay đến cuối 2012): xây mới dây chuyền, chủ yếu sản xuất giấy in báo, công suất 150.000 tấn/năm với thiết bị nhập đồng bộ từ Canada. Giai đoạn 2 (từ cuối năm 2012 đến 2014): di dời, nâng cấp, hiện đại hóa các dây chuyền sản xuất và một số hệ thống phụ trợ từ Nhà máy giấy Tân Mai hiện hữu ra Nhà máy giấy Tân Mai Miền Đông. Tổng số vốn đầu tư cho giai đoạn 1 là gần 2.500 tỷ đồng trong đó 15% là vốn đối ứng của cổ đông và 85% là vốn vay các ngân hàng trong nước. 

						p Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.

						p Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
				#tab-4.wrap-content.tab-pane
					.title.fw-700.f-18.text-uppercase form liên hệ
					table
						tr
							td Ngày khỏi công
							td 21/02/2010
						tr
							td Tổng vốn đầu tư
							td 2.500 tỷ dồng
						tr
							td Công xuất
							td 150.000 tấn/năm
					.content
						p Sáng ngày 21/3/2010, tại xã Long Phước, huyện Long Thành, tỉnh Đồng Nai, Công ty CP Tập đoàn Tân Mai khởi công xây dựng Nhà máy giấy Tân Mai Miền Đông. Nhà máy giấy Tân Mai Miền Đông được xây dựng trên diện tích gần 54,6 ha. Việc xây dựng Nhà máy giấy được chia làm hai giai đoạn. Giai đoạn 1 (từ nay đến cuối 2012): xây mới dây chuyền, chủ yếu sản xuất giấy in báo, công suất 150.000 tấn/năm với thiết bị nhập đồng bộ từ Canada. Giai đoạn 2 (từ cuối năm 2012 đến 2014): di dời, nâng cấp, hiện đại hóa các dây chuyền sản xuất và một số hệ thống phụ trợ từ Nhà máy giấy Tân Mai hiện hữu ra Nhà máy giấy Tân Mai Miền Đông. Tổng số vốn đầu tư cho giai đoạn 1 là gần 2.500 tỷ đồng trong đó 15% là vốn đối ứng của cổ đông và 85% là vốn vay các ngân hàng trong nước. 

						p Nhà máy giấy Tân Mai Miền Đông là một trong bốn dự án đầu tư trọng điểm, nằm trong chiến lược đầu tư của Tập đoàn Tân Mai. Đây cũng là cơ sở để Tập đoàn Tân Mai chuẩn bị triển khai việc di dời Nhà máy Tân Mai hiện hữu ra khỏi phường Thống Nhất theo quy hoạch phát triển TP Biên Hòa đã được Thủ tướng Chính phủ phê duyệt.

						p Tại lễ khởi công, Công ty CP Tập đoàn Tân Mai đã trao tặng Hội khuyến học huyện Long Thành 1,8 tỷ đồng và UBND xã Long Phước 60 triệu đồng để góp phần xây dựng các công trình phúc lợi công cộng.
section.section.project-other(setBackground='./img/bg/prodetail-1.png')
	.container
		.section-title.color-main dự án khác
		.slide-other
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<4;i++)
						.swiper-slide
							.swiper-inner.zoom-img
								.img
									a(href="")
										img.lazyload(data-src="./img/du-an/i-"+i+".png" alt="")
								.content.fw-700
									a(href="") Xí nghiệp nguyên liệu giấy Daklak
			.swiper-button-next
			.swiper-button-prev
