<!-- HEADER -->
header
	nav.navbar
		.container.d-flex.align-center
			a.navbar-brand(href="")
				img(src="./img/logo.png" alt="")
			.navbar-main
				.navbar-top.d-flex.align-center
					.wrapper-list.ml-auto
						ul.d-flex.align-center
							li
								a.f-12.fw-500.color-gray(href="") Tuyển dụng
							li
								a.f-12.fw-500.color-gray(href="") Tin tức
							li
								a.f-12.fw-500.color-gray(href="") Liên hệ
					.wrapper-language
						.dropdown
							.language.d-flex.align-center
								a.nav-item.active.f-14.fw-500.color-gray(href="") VN
								em.material-icons expand_more
							.dropdown-menu
								ul
									li
										a.f-14.fw-500.color-gray(href="") VN
									li
										a.f-14.fw-500.color-gray(href="") EN
					.wrapper-search
						.form-group
							input(type="text" placeholder="Nhập từ khoá...")
							button.searchbutton.btn.btn__search
								em.material-icons search
						.search-icon
							em.material-icons search
				ul.navbar-nav.d-flex.align-center
					li.nav-item.active
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='index.html') 
							em.material-icons home
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='gioi-thieu.html') Giới Thiệu
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='nguoi-tan-mai.html') người tân mai
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='linh-vuc-hoat-dong.html') lĩnh vực hoạt động
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='du-an.html') dự án
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='phat-trien.html') phát triển bền vững
					li.nav-item
						a.nav-link.f-14.fw-600.color-text.text-uppercase(href='co-dong.html.html') quan hệ cổ đông
			.btn.btn-toggle
				span
				span
				span
				span
