section#section-banner(data-title="Trang chủ")
	.home-banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.slide-inner
						img(src="./img/banner/b-1.jpg" alt="")
						.content
							.title.fw-600.text-center Tân Mai - Tập đoàn đa ngành dẫn đầu xu hướng kinh tế xanh, bền vững
					a(href="#section-1").slide-button
						em.material-icons keyboard_arrow_down
				.swiper-slide
					.slide-inner
						img(src="./img/banner/b-2.jpg" alt="")
						.content
							.title.fw-600.text-center Tân Mai - Tập đoàn đa ngành dẫn đầu xu hướng kinh tế xanh, bền vững
					a(href="#section-1").slide-button
						em.material-icons keyboard_arrow_down
				.swiper-slide
					.slide-inner
						img(src="./img/banner/b-3.jpg" alt="")
						.content
							.title.fw-600.text-center Tân Mai - Tập đoàn đa ngành dẫn đầu xu hướng kinh tế xanh, bền vững
					a(href="#section-1").slide-button
						em.material-icons keyboard_arrow_down

